<div class="about" style="height: 100%;">
	<div class="bar bar-header bar-positive">
	  <div>
		  <button class="button button-icon icon ion-arrow-left-a" ng-click="$parent.page='sitemap'"></button>
		  <div class="h1 title" style="font-size: 16pt;">關於</div>
	  </div>
	</div>
	<div style="padding: 20% 15px 10px 15px;" scrollbar-y="false">
		<h4>提供單位：新竹市政府城市行銷處</h4>
		<h4>軟體名稱：美麗新竹'是'</h4>
		<h4>軟體版本：0.1dev</h4>
		<h4>美麗新竹'是網站：http://example.com</h4>
	</div>
</div>

<style>
	.about {
		background: url(images/bg.jpg);
        background-size: cover;
	}
</style>