<div class="main">
    <div style="padding: 10px;">
        <button class="button button-positive" style="font-size: 16pt; padding: 5px; width: 150px;" onclick="location.href='menu.html'">
            繁體中文
        </button>
    </div>
    
    <div style="padding: 10px;">
        <button class="button button-positive" style="font-size: 16pt; padding: 5px; width: 150px;">
            簡體中文
        </button>
    </div>
</div>

<style>
    .main {
        position: relative;
        padding-top: 60%;
        text-align: center;
    }
</style>
