<div style="height: 100%;">
	<ion-header-bar align-title="搜尋" class="bar-positive">
	  <div class="buttons">
	    <button class="button" ng-click="set_page('sitemap')" style="padding-right: 20px; padding-left: 20px; font-weight: bold;">Back</button>
	  </div>
	  <h1 class="title">附近景點與商家</h1>
	</ion-header-bar>
	<ion-content>
		<div class="list">
		    <a class="item item-thumbnail-left" href="#">
		      <img src="cover.jpg">
		      <h2>Pretty Hate Machine</h2>
		      <p>Nine Inch Nails</p>
		    </a>
		    <a class="item item-thumbnail-left" href="#">
		      <img src="cover.jpg">
		      <h2>Pretty Hate Machine</h2>
		      <p>Nine Inch Nails</p>
		    </a>
		    <a class="item item-thumbnail-left" href="#">
		      <img src="cover.jpg">
		      <h2>Pretty Hate Machine</h2>
		      <p>Nine Inch Nails</p>
		    </a>
		    <a class="item item-thumbnail-left" href="#">
		      <img src="cover.jpg">
		      <h2>Pretty Hate Machine</h2>
		      <p>Nine Inch Nails</p>
		    </a>
		    <a class="item item-thumbnail-left" href="#">
		      <img src="cover.jpg">
		      <h2>Pretty Hate Machine</h2>
		      <p>Nine Inch Nails</p>
		    </a>
		    <a class="item item-thumbnail-left" href="#">
		      <img src="cover.jpg">
		      <h2>Pretty Hate Machine</h2>
		      <p>Nine Inch Nails</p>
		    </a>
		    <a class="item item-thumbnail-left" href="#">
		      <img src="cover.jpg">
		      <h2>Pretty Hate Machine</h2>
		      <p>Nine Inch Nails</p>
		    </a>
		    <a class="item item-thumbnail-left" href="#">
		      <img src="cover.jpg">
		      <h2>Pretty Hate Machine</h2>
		      <p>Nine Inch Nails</p>
		    </a>
		</div>
	</ion-content>
</div>

