<div style="height: 100%;">
	<ion-header-bar align-title="搜尋" class="bar-positive">
	  <div class="buttons">
	    <button class="button" ng-click="$parent.page='sitemap'" style="padding-right: 20px; padding-left: 20px; font-weight: bold;">Back</button>
	  </div>
	  <h1 class="title">搜尋</h1>
	</ion-header-bar>
	<ion-content>
		<div class="list list-inset">
		  <label class="item item-input">
		    <i class="icon ion-search placeholder-icon"></i>
		    <input type="text" placeholder="Search">
		  </label>
		</div>
	</ion-content>
</div>
