<div class="sitemap">
	<div style="padding: 5px; float:left; font-size: 16pt;" ng-click="$parent.page='about'" class="icon-left ion-help"> 關於</div>
	<div style="padding: 5px; float:right; font-size: 16pt;" ng-click="$parent.page='select_lang'" class="icon-right ion-search"> 搜尋</div>

	<img style="position: absolute; width: 30%; height: 15%; top: 12%; left: 35%;" src="images/dashboard_logo.png" />

	<img style="position: absolute; width: 20%; height: 15%; top: 30%; left: 40%;" src="images/dashboard_1.png" />

	<img style="position: absolute; width: 20%; height: 15%; top: 40%; left: 5%;" src="images/dashboard_2.png" />

	<img style="position: absolute; width: 20%; height: 15%; top: 40%; left: 75%;" src="images/dashboard_3.png" />

	<img style="position: absolute; width: 20%; height: 15%; top: 50%; left: 40%;" src="images/dashboard_4.png" />

	<img style="position: absolute; width: 20%; height: 15%; top: 55%; left: 5%;" src="images/dashboard_5.png" />

	<img style="position: absolute; width: 20%; height: 15%; top: 55%; left: 75%;" src="images/dashboard_6.png" />

	<img style="position: absolute; width: 20%; height: 15%; top: 70%; left: 40%;" src="images/dashboard_7.png" />
</div>

<style>
    .sitemap{
        background: url(images/bg_menu.jpg);
        background-size: cover;
        height: 100%;
    }
</style>